In [ ]:
HYpothesis
null hypothesis==
alt hypothesis=

In [ ]:
#ANOVA=analyis of variance
#we allow 5% error in normal circumstances, alpha level but if my data incresases I have 
#to give more window, referring to alpha=0.05.hence ANOVA test
#used to measure means fro more than 12 groups. it does by looking at variance in data

#f value=sample means of between groups / sample means of data within groups

In [ ]:
#sales measure across, TV (high), billboard(medium), radio(low)
#null hypo will assume sales in low=sales in medsales in high
#Example We are trying to predict the product sales based on its promotion ,
#where low radio newspaper ) middle billboards in public places ) and high level ( TV ads ) promotions 
#are categorical in nature Hypothesis construction The null hypothesis for ANOVA says that , 
#average of dependent variable are same for all the given groups .
#Alternate Hypothesis says , mean of dependent variable are not same for the given group
#-Ho : muA = muB = muc -Ha : not all are equal

In [ ]:
 #Step 1 Calculate the means of each semester 
    #Step 2 Calculate the grand mean (mean of all those semester)
    #Step 3 Variations between , within 
    #Step 4 Calculate the mean squared variance of between and within
    #Step 5 Calcualte F statistics and corrosponding p - value

In [1]:
import pandas as pd 
hyp = pd.read_csv ('https://raw.githubusercontent.com/training-ml/Files/main/Semester%20marks.csv') 
hyp

     Student_ID  Semester  Total_Marks
0             1         1          365
1             2         3          376
2             3         1          411
3             4         3          436
4             5         2          366
..          ...       ...          ...
195         196         1          431
196         197         3          330
197         198         1          311
198         199         1          358
199         200         2          468

[200 rows x 3 columns]

In [ ]:
#As per ANOVA we need to find continues data based on the categorical variable . 
#Total_Marks is continues variable and Semester is categorical variable . 
#Ho is Average marks of each semester are almost equal . 
#Ha is all are not equal

In [2]:
import numpy as np 
import statsmodels.formula.api as sm 
mod = sm.ols (' Total_Marks ~ Semester', data = hyp ) .fit( ) #OLS-odinary least square meethod
mod #dependent variable is marks and independent is semester

In [3]:
import statsmodels.api as k 
aov_table = k.stats.anova_lm(mod, typ = 1) 
aov_table   #the pvalue is greater than alpha 0.05. we can conclude all marks are similar

             df         sum_sq      mean_sq         F    PR(>F)
Semester    1.0     291.846746   291.846746  0.102572  0.749102
Residual  198.0  563366.873254  2845.287239       NaN       NaN

In [4]:
#Let's see manually if the average marks of each semester are close to each other
# Semester 1 Average marks
print('1st Sem avg marks =', np.ceil(hyp['Total_Marks' ] [hyp['Semester'] == 1].mean())) 
# Semester 2 Average marks 
print('2nd Sem avg marks =', np.ceil(hyp['Total_Marks'] [hyp['Semester'] == 2].mean())) 
# Semester 3 Average marks 
print('3rd Sem avg marks = ', np.ceil (hyp['Total_Marks'] [hyp['Semester'] == 3].mean()))

1st Sem avg marks = 403.0
2nd Sem avg marks = 393.0
3rd Sem avg marks =  406.0

In [ ]:
........Realtime research on human body . 
If different types of drinks ( Coffee , Water , Milk , Soda etc ) have the same effect ( reaction time in the morning ) on human body or not ? Null hypothesis - All the drinks average reaction time on humany body is same . 
Alternate hypothesis - All the drinks average reaction time on humany body is NOT same ......

In [ ]:
..........Covariance A systematic relationship between a pair of random variables wherein 
a change in one variable reciprocated by an equivalent change in another variable 
Covariance can take any value between -âˆž to + âˆž , 
wherein the negative value is an indicator of negative relationship 
whereas a positive value represents the positive relationship and when the value is zero , 
it indicates no relationship.

In addition to this when all the observations of the either variable are same , the covariance will be zero . 
When we change the unit of observation on any or both the two variables , 
then there no change in the strength of the relationship between two variables but the value of covariance is changed .....

In [ ]:
#cvariance=cov(x, y) =  Î£ (x1-x_) ( y1-y_)/n-1 #if x1, x2, ...x6 are varaibles and y1, y2...y6 are independent variables
#u can keep doing it tiill x2-x, x3-x, x4-x......y1-y, y3-y.......
#if x_ is x bar ad y_ is y bar, and n is the number of times which is 6

In [ ]:
#corelation: determines one change in variable due to change in another vaiable
#4 measure f correlation: scatter diagram, product-moment correlation, rank correlation coefficient,
#coefficent of concurent deviations

#correlationis a special case of covariance which can beobtained when data is standardised
#corelation is better than covariance as it remains unaffected by chnge in location and scale